---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
              {% comment %}
							<ul class="actions">
								<li><a href="#" class="button special">Activate</a></li>
							</ul>
              {% endcomment %}
						</div>
						<a href="#one" class="more scrolly">explore</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>As you think,<br />
								you become</h2>
								<p>The secret of the universe was never a secret. We always have the power to<br/> 
                be, to rise, to become, to transform, or to transcend ourselves. We have free will.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

        {% comment %}
				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Magna primis lobortis<br />
								sed ullamcorper</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
					</section>
        {% endcomment %}

<style>
.latest_post_readtime {
  float: right;
  color: #666;
}
</style>
				<section id="two" class="wrapper alt" style="padding-top: 50px;">
  				<div class="inner row">
  					<div class="6u 12u$(medium)">
              <h2>Latest Posts</h2>
              <ul class="alt">
              {% for post in site.posts %}
                {% if post.tags contains "development guide" %}
                  {% continue %}
                {% endif %}
                <li>
                <a href="{{ post.url }}">
                  <span class="latest_post_title">{{ post.title }}</span>
                  <span class="latest_post_readtime">{% include read-time.html content=post.content %}</span>
                </a>
                </li>
              {% endfor %}
              </ul>
            </div>
  					<div class="6u 12u$(medium)">
              <h2>Development guide</h2>
              <ul class="alt">
              {% for post in site.posts %}
                {% if post.tags contains "development guide" %}
                <li>
                <a href="{{ post.url }}">
                  <span class="latest_post_title">{{ post.title }}</span>
                  <span class="latest_post_readtime">{% include read-time.html content=post.content %}</span>
                </a>
                </li>
                {% endif %}
              {% endfor %}
              </ul>
  					</div>
  				</div>
        </section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Practical Fundamentals</h2>
								<p>There's definitely more than four (4) categories that will be covered than made visible below,<br/>
                The four categories however is what I strongly believe as core and practical fundamentals<br/>
                every software engineer must have. The last category below are articles written by interns.</p>
							</header>
							<ul class="features">
								<li class="icon fa-brain">
                  <h3><a href="/tags/mindset">Mindset</a></h3>
									<p>Everything starts with the mind. What we think and ruminate about in a daily basis will transform into an action.</p>
								</li>
								<li class="icon fa-scale-balanced">
                  <h3><a href="/development-guide">Development Guide</a></h3>
									<p>Very few things in this world is absolute. Guide serve as a compass with which we all aim to move towards.</p>
								</li>
								<li class="icon fa-plug">
									<h3>Wares</h3>
									<p>Man was always assisted by tools even at the dawn of time. Today, we rely of hardwares and softwares to get things done.</p>
								</li>
								<li class="icon fa-chalkboard-user">
									<h3>Engineers in Training</h3>
									<p>Everyone starts somewhere. Catch a glimpse at how some journey from one point to another in their life as a software engineer.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Grow With Us</h2>
								<p>Whether you want to subcribe or bookmark an article, or to simply check for an opportunity, this is the place to check.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Opportunities</a></li>
                <li><a href="{% link about.md %}" class="button fit">raison d'être</a></li>
							</ul>
						</div>
					</section>
