---
layout: default
---
<article id="main">

  {%- assign author = site.data.authors[page.author] -%}
  <header>
    <h2>{{ page.title }}</h2>
    <div class="inner byline">
      {% if author %}
      <address>by <a rel="author">{{ author.name }}</a></address>
      {% endif %}
      {% if page.date %}
      on <time>{{ page.date | date: "%Y-%m-%d %H:%M " | append: site.timezone }}</time> 
      {% endif %}
    </div>
    {% if page.description %}
    <p>{{ page.description }}</p>
    {% endif %}
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>

    <div class="inner">
      <hr/>
      <h4 class="">All Tags</h4>
      {% for tag in site.tags %}
      <a href="/tags/{{ tag[0] | slugify }}" class="post-tag"><nobr>{{ tag[0] }}</nobr>&nbsp;</a> 
      {% endfor %}
    </div>

    <div class="inner">
      <hr/>
      <h4 class="">Next & Previous Articles</h4>
       <!-- Prev/Next -->
       <div class="PageNavigation d-flex justify-content-between font-weight-bold">
       {% if page.previous.url %}
       <a class="prev d-block col-md-6" href="{{ page.previous.url }}">&laquo; {{page.previous.title}}</a>
       {% endif %}
       <br/>
       {% if page.next.url %}
       <a class="d-block col-md-6 text-lg-right" href="{{ page.next.url }}">&raquo; {{page.next.title}}</a>
       {% endif %}
    </div>
  </section>

</article>
	
